/* .container{
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    background-color: blue;
    gap : 20px;
    width: 500px

} */

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    background-color: blue;
    gap : 20px;
    width: 600px

}
.container div{
    display: grid;
    place-items: center;
    background-color: pink;
    height: 100px;

}